params.reference    = "/home/alexandr/Documents/deepvariant/data/MT.fna"
params.reads        = "/home/alexandr/Documents/deepvariant/data/*R{1,2}*.fastq*"
params.outdir       = "results"
params.help = false
params.cpus = 10
params.memory = 7
singularity.enabled = true

process {
    withName:REFINDEX {
        container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
    }
    withName:QCONTROL {
        container = 'library://hud/mgnext/fastp:0.20.1'
    }
    withName:ALIGN {
        container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
    }  
    withName:PREPARE {
		container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
	}
    withName:VARCALL {
		container = 'library://glebus-sasha/repo/deepvariant:1.6.1'
	}
}
