// Define general pipeline parameters
params.outdir           = "results"           // Output directory for results
params.help             = false               // Show help message and exit
params.prebuild         = false               // Use prebuilt indices
params.cpus             = 1                   // Number of CPUs to use
params.memory           = 4                   // Amount of memory (GB) to use
params.reports          = false               // Generate pipeline reports

// Define default branch for the pipeline
manifest.defaultBranch  = 'main'              // https://github.com/nextflow-io/nextflow/issues/3593

// Configuration for generating pipeline reports if enabled
if (params.reports) {
    dag.enabled             = true
    def trace_timestamp     = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    dag.file                = "${params.outdir}/pipeline_info/dag-${trace_timestamp}.html"          // DAG visualization file
    report.enabled          = true
    report.file             = "${params.outdir}/pipeline_info/report-${trace_timestamp}.html"       // Report file
    timeline.enabled        = true
    timeline.file           = "${params.outdir}/pipeline_info/timeline-${trace_timestamp}.html"     // Timeline file
    trace.enabled           = true
    trace.file              = "${params.outdir}/pipeline_info/trace-${trace_timestamp}.txt"         // Trace file
}

// Define profiles for different environments
profiles {
    // Local profile configuration
    local {
        params.reference        = "/home/alexandr/Documents/reference/GCA_000001405.15_GRCh38_genomic.fna"              // Reference genome
        params.reads            = '/home/alexandr/Documents/test/*[rR]{1,2}*.fastq*'                                    // Reads files
        params.faidx            = "/home/alexandr/Documents/reference/GCA_000001405.15_GRCh38_genomic.fna.fai"          // FAI index (not implemented yet)
        params.bwaidx           = "/home/alexandr/Documents/reference/bwaidx/*"                                         // BWA indices
        params.cpus             = 12                                                                                    // CPUs for local profile
        params.memory           = 15                                                                                    // Memory (GB) for local profile
    }
    // Server profile configuration
    server {
        params.reference        = "/dev/shm/aglebus/data/reference/GCA_000001405.15_GRCh38_genomic.fna"                 // Reference genome
        params.reads            = '/dev/shm/aglebus/data/test/*[rR]{1,2}*.fastq*'                                       // Reads files
        params.faidx            = "/dev/shm/aglebus/data/reference/faidx/GCA_000001405.15_GRCh38_genomic.fna.fai"       // FAI index (not implemented yet)
        params.bwaidx           = "/dev/shm/aglebus/data/reference/bwaidx/*"                                            // BWA indices
        params.cpus             = 95                                                                                    // CPUs for server profile
        params.memory           = 100                                                                                   // Memory (GB) for server profile
    }
    // Debug profile configuration (not implemented yet)
    debug {
        cleanup                = false                 // Do not cleanup intermediate files
        dumpHashes             = true                  // Dump process hashes for debugging
        process.beforeScript   = 'echo $HOSTNAME'      // Print hostname before each process execution
    }
    // Conda environment configuration (not implemented yet)
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    // Docker environment configuration
    docker {
        conda.enabled          = false
        docker.enabled         = true
        singularity.enabled    = false
    }
    // Singularity environment configuration
    singularity {
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = true
    }
}
