// Define general pipeline parameters
params.help             = false               // Show help message and exit
params.prebuild         = false               // Use pre-built bwa indexes and pre-downloaded vep cache
params.cpus             = 1                   // Number of CPUs to use
params.memory           = 4                   // Amount of memory (GB) to use
params.reports          = false               // Generate pipeline reports

// Define default branch for the pipeline
manifest.defaultBranch  = 'main'              // https://github.com/nextflow-io/nextflow/issues/3593


// Configuration for generating pipeline reports if enabled
if (params.reports) {
    def trace_timestamp     = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')                  // Define trace timestamp
    dag.enabled             = true
    dag.file                = "${params.outdir}/pipeline_info/${trace_timestamp}-dag.html"                      // DAG visualization file
    report.enabled          = true
    report.file             = "${params.outdir}/pipeline_info/${trace_timestamp}-report.html"                   // Report file
    timeline.enabled        = true
    timeline.file           = "${params.outdir}/pipeline_info/${trace_timestamp}-timeline.html"                 // Timeline file
    trace.enabled           = true
    trace.file              = "${params.outdir}/pipeline_info/${trace_timestamp}-trace.txt"                     // Trace file
}

// Define profiles for different environments
profiles {
    // Local profile configuration
    local {
        params.outdir           = "../results"                                                                          // Output directory for results
        params.reference        = "/home/alexandr/Documents/test_cow/GCF_002263795.3_ARS-UCD2.0_genomic.fna"            // Reference genome 
        params.reads            = '/home/alexandr/Documents/test_cow/gbs_2'                                             // Reads files
        params.bwaidx           = "/home/alexandr/Documents/test_cow/bwaindex"                                          // BWA indices directory
        params.faidx            = "/home/alexandr/Documents/test_cow/FAIDX"                                             // FAI index directory
        params.vepcache         = "/home/alexandr/Documents/vep_data"                                                   // VEP cache directory
        params.cpus             = 10                                                                                    // CPUs for local profile
        params.memory           = 15                                                                                    // Memory (GB) for local profile
        params.regions          = "/home/alexandr/Documents/hglft_genome_16b94_105e10.bed"                              // BED file with regions (default=false)
    }
    // Server profile configuration
    server {
        params.outdir           = "/storage/aglebus/results/deepvariant"                                                // Output directory for results
        params.reference        = "/storage/aglebus/data/reference/hg38/hg38.fa"                                        // Reference genome 
        params.reads            = "/storage/aglebus/results/qcontrol/2024-07-29_21-32-32_pensive_archimedes/TRIM"       // Reads files
        params.bwaidx           = "/storage/aglebus/data/reference/hg38/bwaidx"                                         // BWA indices
        params.faidx            = "/storage/aglebus/data/reference/hg38/faidx"                                          // FAI index
        params.vepcache         = "/storage/aglebus/data/vep_data"                                                      // VEP cache directory
        params.cpus             = 96                                                                                    // CPUs for server profile
        params.memory           = '1000 GB'                                                                             // Memory (GB) for server profile
        params.regions          = "/storage/aglebus/data/hglft_genome_16b94_105e10.bed"                                 // BED file with regions (default=false)

    }
    // Server profile configuration server_pushkin
    server_pushkin {
        params.outdir           = "/home/aglebus/results"                                                               // Output directory for results
        params.reference        = "/home/antonpushkin/data/genomes/hg38.fa"                                             // Reference genome 
        params.reads            = "/home/aglebus/results/2024-07-23_17-07-23_lethal_pauling/TRIM"                       // Reads files
        params.bwaidx           = "/home/aglebus/bwaindex"                                                                // BWA indices
        params.faidx            = "/home/aglebus/faindex"                                                                 // FAI index
        params.vepcache         = "/home/antonpushkin/data/sps_workflow/vepcashe"                                       // VEP cache directory
        params.cpus             = 78                                                                                    // CPUs for server profile
        params.memory           = '500 GB'                                                                              // Memory (GB) for server profile
        params.regions          = "/home/antonpushkin/data/hglft_genome_16b94_105e10.bed"                               // BED file with regions (default=false)
    }

    // Debug profile configuration (not implemented yet)
    debug {
        cleanup                = false                 // Do not cleanup intermediate files
        dumpHashes             = true                  // Dump process hashes for debugging
        process.beforeScript   = 'echo $HOSTNAME'      // Print hostname before each process execution
    }
    // Conda environment configuration (not implemented yet)
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    // Docker environment configuration
    docker {
        conda.enabled          = false
        docker.enabled         = true
        singularity.enabled    = false
    }
    // Singularity environment configuration
    singularity {
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = true
    }
}
